.g-font {
    font-family: 'Open Sans', sans-serif;
}

.g-p-font {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    line-height: 35px;
}

.ab-img {
    padding: 15%;
    -webkit-filter: grayscale(100%);
    border-radius: 100px;
}

.header-color {
    color: black;
}